.card {
    padding: 12px 12px;
    border: 1px solid black;
    width: 230px;

    background-color: lightgray;
}

.title {
    position: relative;
    font-size: 23px;

    margin-bottom: 15px;

    &::after {
        content: '';
        border: 1px solid black;

        position: absolute;
        bottom: -10px;
        left: 0;

        width: 100%;
    }
}